.trade-history-container {
    height: calc(100vh - 38px);
    overflow: hidden;
}

/* スクロールバーを非表示 */
.trade-history-container::-webkit-scrollbar {
    height: 0;
    width: 0;
}

.table-container {
    height: calc(100vh - 62px);
    direction: rtl;
    background-color: #222244;
    border: 0;
    overflow: auto;
}

.charts-outer {
    color: white;
    width: calc(100vw - 302px);
    height: calc(100vh - 38px);
    background-color: #2D2B55;
}

.trades-info {
    height: 150px;
    overflow: auto;
}

.trades-info table {
    border-spacing: 0;
}

.trades-info th {
    padding: 0;
    background-color: #1E1E3F;
    font-size: 11px;
    font-weight: 400;
}

.trades-info td {
    font-size: 12px;
    font-weight: 300;
}

.trades-info th,
.trades-info td {
    padding: 2px 4px;
    width: fit-content;
    white-space: nowrap;
}

.interval-select-outer {
    height: 150px;
}

.interval-select {
    color: white;
    background-color: #547;
    font-size: 12px;
    height: 18px;
    margin-left: 10px;
    border: 0;
}