* {
  scrollbar-width: thin;
  scrollbar-color: #6969dd #3D3B65;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Helvetica,
    Arial, sans-serif;
  background-color: #2D2B55;
}